@import "tailwindcss";

html {
  @apply h-screen;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.table-container {
  height: 80vh;
  overflow: auto;
}

.bg-transparent-2 {
  background-color: transparent !important;
  outline: 0 !important;
  border: 0px;
  padding: 0px;
  margin: 0px;
  height: auto;
  margin-left: 18.5px;
}

.basic-inputs {
  @apply flex h-9 items-center justify-between whitespace-nowrap border border-neutral-200 px-3 py-2 text-sm shadow-sm ring-offset-white placeholder:text-neutral-500 focus:outline-none focus:ring-1 focus:ring-neutral-950 disabled:cursor-not-allowed disabled:opacity-50 [&>span]:line-clamp-1 dark:border-neutral-800 dark:ring-offset-neutral-950 dark:placeholder:text-neutral-400 dark:focus:ring-neutral-300 w-full rounded bg-white;
}
